.new_job {
    margin-left: 40px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.new_job label {
    font-size: 18px;
    margin-top: 30px;
}

.new_job input,
.new_job select {
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 33px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.new_job select {
    height: 33px;
    font-size: 16px;
}

.description,
.benefits {
    margin-left: 40px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.description label,
.benefits label {
    font-size: 18px;
}

.description input,
.benefits input {
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 400px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    text-align: left;
    padding: 10px;
    resize: none;
}
